* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "GilroyLight";
}

@font-face {
  font-family: GilroyLight;
  src: url(fonts/Gilroy-Light.otf);
}

@font-face {
  font-family: GilroyExtraBold;
  src: url(fonts/Gilroy-ExtraBold.otf);
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #f9f9f9;
}
a {
  text-decoration: none;
}
/* Navbar */

.navbar {
  height: 70px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
.logo {
  flex: 0.5;
}

.nav-links {
  flex: 2;
  text-align: end;
}

.nav-links > ul > li {
  display: inline-block;
  margin-right: 35px;
}
.nav-links > ul > li > a {
  color: #000;
  font-weight: 600;
}
.nav-btn {
  flex: 0.3;
}
.btn-green {
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  background-color: #75bf7a;
  border: none;
  height: 40px;
  width: 130px;
}
.btn-green > a {
  color: #fff;
}
.nav-icon {
  display: none;
}
