* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "myFonts1";
}

@font-face {
  font-family: myFonts1;
  src: url(fonts/Gilroy-Light.otf);
}

@font-face {
  font-family: myFonts2;
  src: url(fonts/Gilroy-ExtraBold.otf);
}
.container {
  width: 1280px;
  margin: 0 auto;
  background-color: #f9f9f9;
}
a {
  text-decoration: none;
}
/* Navbar */

.navbar {
  height: 120px;
  background-color: #fff;
  display: flex;
  padding: 40px 40px 10px 40px;
  align-items: center;
}
.logo {
  flex: 0.5;
}

.nav-links {
  flex: 2;
  text-align: end;
}

.nav-links > ul > li {
  display: inline-block;
  margin-right: 35px;
}
.nav-links > ul > li > a {
  color: #000;
  font-weight: 600;
}
.nav-btn {
  flex: 0.3;
}
.btn-green {
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  background-color: #75bf7a;
  border: none;
  height: 40px;
  width: 130px;
}
.btn-green > a {
  color: #fff;
}
.nav-icon {
  visibility: hidden;
}
/* header */

.flex {
  display: flex;
  gap: 150px;
}
.head {
  padding: 40px 40px 10px 40px;
}
.head-right {
  width: 45%;
}
.head-left {
  width: 40%;
}
.head-left > h1 {
  font-size: 3.2rem;
  font-family: "myFonts2";
  margin-top: 100px;
  line-height: 60px;
}
.head-left > p {
  color: #9e9da2;
  font-size: 21px;
  margin-top: 30px;
}
.head-btn {
  margin-top: 73px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btn-black {
  width: 45%;
  height: 50px;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}